/* General Styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Login and Signup Specific Styles */
.login-container, .signup-container {
  max-width: 500px; /* Ensure the container does not exceed 500px width */
  width: 100%; /* Ensure the container takes up the full width available */
  margin: 2rem auto; /* Centers the container horizontally and adds vertical margin */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

/* Typography */
.title, h1 {
  font-family: 'Cheerio', Arial, sans-serif;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  background-clip: text; 
  -webkit-background-clip: text;
  color: transparent;
}

h1.mb-4.text-center {
  margin-top: 90px;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1.dashboard-title {
  margin-top: 40px;
}

h1.all-tutorials-title {
  margin-top: 0px;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

/* Navbar Link Styling */
.navbar img {
  margin-left: 20px;
}
@media (min-width: 992px){
  
  
  #navbar-right {
    margin-right: 20px;
  }
}

.navbar-logo {
  padding-left: 10px;
}

.navbar-link, .navbar-link.btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #007bff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-link:hover {
  color: #2dd1ff;
  text-decoration: underline;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.navbar-logo {
  width: 40px;
  margin-right: 10px;
}

.navbar-title {
  font-family: 'Cheerio', Arial, sans-serif;
  font-size: 1.8rem;
}

/* Main Content */
.main-content {
  text-align: center;
  margin-bottom: 2rem;
}

.lead {
  padding-bottom: 30px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  background: #f8f9fa;
  margin-top: auto;
}

.logos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 1rem;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 6em #5538da) brightness(.9);
  transform: scale(1.1);
}

.logo.react:hover {
  filter: drop-shadow(0 0 6em #5538da) brightness(0.8);
  transform: scale(1.1);
}

.read-the-docs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  margin-top: 0.4rem;
  gap: 20px;
}

/* Keyframes */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

/* About */
.about-container {
  padding: 20px;
  text-align: center;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  text-align: left;
}

.team-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.team-member {
  flex: 1 1 calc(25% - 20px); /* Four in one row with 20px gap */
  max-width: calc(25% - 20px); /* Ensure max width doesn't exceed 25% of the container */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-member-image {
  width: 170px; /* Fixed width for the profile image */
  height: 170px; /* Fixed height for the profile image */
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire area while maintaining aspect ratio */
  margin: 0 auto; /* Center the image */
}

.team-member-name {
  font-size: 1.65rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.team-member-role {
  font-size: 0.8rem;
  color: #797979;
  margin-bottom: 3px;
  font-style: italic;
}

.team-member-bio {
  font-size: .9rem;
  margin-bottom: auto;
  text-align: left;
}

.team-member-github {
  font-size: 0.8rem;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 13px; 
}

.team-member-github:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .team-member {
    flex: 1 1 calc(50% - 20px); /* Two in one row with 20px gap */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .team-member {
    flex: 1 1 100%; /* One in one row */
    max-width: 100%;
  }
}

/* Video Search */
.video-search-title {
  font-family: 'Cheerio', Arial, sans-serif;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  background-clip: text; 
  -webkit-background-clip: text;
  font-size: 3rem !important;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: transparent !important;
}

.video-search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.video-search-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.video-search-container form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.video-search-container .alert {
  color: red;
}

.video-search-container ul {
  list-style-type: none;
  padding: 0;
}

.video-search-container li {
  margin-bottom: 20px;
}

.video-search-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-search-container iframe {
  width: 100%;
  height: 315px;
  border: none;
  border-radius: 8px;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-prefix {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  color: #333;
  pointer-events: none;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Form Styles */

.form-container {
  display: flex;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 80px;
  max-width: 500px;
}

.form-title {
  font-family: 'Cheerio', Arial, sans-serif;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* changing for all 'forms' which has caused an issue with the edit tutorial feature. 
if this is needed, it needs a separate class name. will commentout for now */

/* form {
  align-self: center;
} */

div.form-group {
  width: 100%;
}

.form-input {
  display: flex;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.btn-block {
  align-self: center;
}

.form-error {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  text-align: center;
}

/* Responsive Design for Forms */
@media (max-width: 768px) {
  .form-container {
    padding: 1rem;
  }

  .form-title {
    font-size: 1.5rem;
  }

  .form-input {
    font-size: 0.875rem;
  }
}

/* Other Elements */
.card {
  padding: 2em;
}

/* Responsive Design for App Components */
@media (max-width: 767px) {
  .input-group {
    width: 100%;
  }
}


.large-delete-btn {
  font-size: 24px; /* Adjust the size as needed */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

