
@font-face {
  font-family: 'Cheerio';
  src: url('/src/assets/fonts/Cheerio.woff2') format('woff2'),
       url('/src/assets/fonts/Cheerio.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title, h1 {
  font-family: 'Cheerio', Arial, sans-serif;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  font-size: 1.4rem;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.7em;
  line-height: 1.1;
}

header p {
  line-height: 1.2;
}


.my-4 {
  font-family: Helvetica, Arial, sans-serif;
}

.input-group {
  width: 500px;
  max-width: 200%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 767px) {
  .input-group {
    width: 100%;
  }
}
