@font-face {
  font-family: 'Cheerio';
  src: url('/src/assets/fonts/Cheerio.woff2') format('woff2'),
    url('/src/assets/fonts/Cheerio.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global Typography Styles */
body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.title, h1 {
  font-family: 'Cheerio', Arial, sans-serif;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  font-size: 1.4rem;
}

/* so the user can leave space in their content field for their tutorial*/
.singleTutorial{
  white-space: pre-wrap;
}

p {
  align-items: center;
}

/* Global Body Styles */
body {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

header p {
  line-height: 1.2;
}

.my-4 {
  font-family: Helvetica, Arial, sans-serif;
}

.input-group {
  width: 500px;
  max-width: 200%;
}

.no-videos-found {
  color: #776f6f;
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Responsive Design for Global Styles */
@media (max-width: 767px) {
  .input-group {
    width: 100%;
  }
}


/* backgtound and navbar styling */
body, html {
  background: radial-gradient(circle, rgba(221, 242, 255, 0.8925945378151261) 0%, rgba(226, 243, 255, 0.9009978991596639) 11%, rgba(255, 250, 233, 0.8365721288515406) 27%, rgba(255, 244, 247, 0.8533788515406162) 34%, rgba(255, 251, 251, 0.8561799719887955) 42%, rgba(213, 255, 255, 0.8729866946778712) 66%, rgba(245, 236, 215, 0.8729866946778712) 89%, rgba(240, 241, 192, 0.7) 95%);
  background-size: 400% 400%;
  animation: gradient 600s ease infinite;
  height: 100vh;
}

body {
  background: radial-gradient(circle, rgba(221, 242, 255, 0.7) 0%, rgba(226, 243, 255, 0.7) 11%, rgba(255, 250, 233, 0.7) 27%, rgba(255, 244, 247, 0.7) 34%, rgba(255, 251, 251, 0.7) 42%, rgba(213, 255, 255, 0.7) 66%, rgba(245, 236, 215, 0.7) 89%, rgba(240, 241, 192, 0.7) 95%);
  background-size: 400% 400%;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav {
  background: linear-gradient(75deg, rgba(55,178,227,0.2987570028011205) 0%, rgba(75,54,170,0.24273459383753504) 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 5px 5px rgba(46, 77, 119, 0.39);
}
