@font-face {
  font-family: 'Cheerio';
  src: url('/src/assets/fonts/Cheerio.woff2') format('woff2'),
       url('/src/assets/fonts/Cheerio.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global Typography Styles */
body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title, h1 {
  font-family: 'Cheerio', Arial, sans-serif;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  font-size: 1.4rem;
}

/* so the user can leave space in their content field for their tutorial */
.singleTutorial {
  white-space: pre-wrap;
}

p {
  align-items: center;
}

/* Global Body Styles */
body {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

header p {
  line-height: 1.2;
}

.my-4 {
  font-family: Helvetica, Arial, sans-serif;
}

.input-group {
  width: 500px;
  max-width: 200%;
}

.no-videos-found {
  color: #776f6f;
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Responsive Design for Global Styles */
@media (max-width: 767px) {
  .input-group {
    width: 100%;
  }
}