
.btnToggle, 
.btnDelete, 
.btnEdit, 
.btnView  {
  background-color: white;
  border-color: purple;
  width: 10%;
}

.createTutorialBtn {
  display: flex;
  justify-content: center;
  width: 20%;
  box-shadow: 1px 5px 5px rgba(54, 90, 162, 0.492);
  background: linear-gradient(39deg, rgb(159, 167, 251) 10%, rgb(99, 182, 246) 100%);
  border: 1px solid rgb(170, 106, 22);
  border-radius: 50px;
  margin: 70px;
  margin-left: 40%;
}