.tutorialDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.tutorialCard {
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
}

.commentDiv {
  border: solid 4px rgb(51, 59, 83);
  border-radius: 30px;
  margin-top: 10%;
  padding: 3%;
}

.commentDiv p {
  font-family: sans-serif;
  border-bottom: solid 0.5px rgb(134, 134, 134);
  padding-bottom: 2%;
}

.badge {
  font-size: 13px;
}

.text-bg-danger {
  font-size: 13px;
  margin-top: 0.2%;
  border: none;
}

.text-bg-danger:hover {
  font-size: 14px;
  transition: 0.3s;
}

.thumbsUp, .thumbsDown {
  margin: 1%;
  margin-left: auto;
  background-position: 0ch;
}

.thumbsDown {
  background-color: red;
  border: none;
  font-size: large;
}

.thumbsDown:hover {
  background-color: red;
  font-size: 20px;
  transition: 0.5s;
}

.thumbsUp:hover {
  font-size: 19px;
  transition: 0.5s;
}