.col-12, h1.mb-4.text-center {
  margin-top: 90px;
  background: linear-gradient(to right, #09a8e8, #057ce7, #5538da, #6f50e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.catDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catBtn {
  height: 100px;
  width: 300px;
  border-radius: 50px;
  align-content: center;
  background: linear-gradient(278deg, rgba(49,168,215,1) 0%, rgba(60,41,147,1) 100%);
  box-shadow: 1px 5px 5px rgba(54, 90, 162, 0.492);
}

@keyframes hover {
  from { scale: 100%; }
  to { scale: 105%; }
}

.catBtn:hover {
  animation-name: hover;
  animation-duration: 0.5s;
  scale: 105%;
}
