.custom-delete-btn {
  top: 10vh; /* Adjust this value to move the button up or down */
  right: 100px; /* Adjust this value to move the button left or right */
}

.carousel.carousel-slider .control-arrow {
  top: -8px;
  color: #f00;
  font-size: 26px;
  bottom: 118px;
  margin-top: 70px;
  padding: 10px;
}